@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* 很深的黑色 */
  color: #e4e4e7;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace; /* 代码风格字体 */
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}